NEXT_PUBLIC_SUPABASE_URL=https://enzagibyikgeyjtfoybt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuemFnaWJ5aWtnZXlqdGZveWJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzOTgwOTUsImV4cCI6MjA5Mzk3NDA5NX0.p3Ymo_nfsYyYhubWFKyFdGDu-WNBKXqf0xdkhiGpyUA
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
TELEGRAM_BOT_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
